<!DOCTYPE html>
<html>

  <head>
    <script data-require="jquery@2.2.4" data-semver="2.2.4" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
    <h1>Hello User!</h1>
    <label>Username</label>
    <input id="username" type="text" />
    <br />
    <label>Password</label>
    <input id="password" type="password" />
    <div id="warning" class="warning">Caps lock is on!!</div>
  </body>

</html>


<!-- <body>
  <form name="login_form" action='/login' method="POST" >
  <input type=text name=usr_id onkeypress="caps_lock(this);">
  <input type=text name=usr_pw onkeypress="caps_lock(this);">
  <input type=submit>
  </form>
  </body>-->
